Model Based Collaborative Filtering
- Predicts the ratings that a user would give a movie based on past ratings
-

In [152]:
import numpy as np 
import pandas as pd
from surprise import Dataset, Reader
from surprise.model_selection import train_test_split, GridSearchCV
from surprise import SVD, KNNBasic, NMF, SlopeOne, CoClustering, BaselineOnly
from surprise import accuracy

Read in Datasets
- Ratings
- MoviesMetadata

In [153]:
ratings = pd.read_csv('moviesRatings/ratings_small.csv')

In [154]:
moviesMetadata = pd.read_csv('moviesRatings/movies_metadata.csv')

/var/folders/gb/1xc2_dh90kv7drdrlhtz73480000gn/T/ipykernel_91736/300550928.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  moviesMetadata = pd.read_csv('moviesRatings/movies_metadata.csv')

Feature Cleaning

In [155]:
# Casting 'id' column as int type
moviesMetadata['id'] = pd.to_numeric(moviesMetadata['id'], errors='coerce').astype('Int64')

In [156]:
# Checking if there are any rows with empyty value for id for moviesMetadata
moviesMetadata[moviesMetadata['id'].isnull()]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
19730,- Written by Ørnås,0.065736,/ff9qCepilowshEtG2GYWwzt2bs4.jpg,"[{'name': 'Carousel Productions', 'id': 11176}...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",<NA>,0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29503,Rune Balot goes to a casino connected to the ...,1.931659,/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg,"[{'name': 'Aniplex', 'id': 2883}, {'name': 'Go...","[{'iso_3166_1': 'US', 'name': 'United States o...",<NA>,0,68.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,...,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35587,Avalanche Sharks tells the story of a bikini ...,2.185485,/zaSf5OG7V8X8gqFvly88zDdRm46.jpg,"[{'name': 'Odyssey Media', 'id': 17161}, {'nam...","[{'iso_3166_1': 'CA', 'name': 'Canada'}]",<NA>,0,82.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [157]:
# Dropping rows with empty
moviesMetadata = moviesMetadata.drop([19730, 29503, 35587])

In [158]:
# Number of users
print('The ratings dataset has', ratings['userId'].nunique(), 'unique users')

# Number of movies
print('The ratings dataset has', ratings['movieId'].nunique(), 'unique movies')

# Number of ratings
print('The ratings dataset has', ratings['rating'].nunique(), 'unique ratings')

# List of unique ratings
print('The unique ratings are', sorted(ratings['rating'].unique()))

The ratings dataset has 671 unique users
The ratings dataset has 9066 unique movies
The ratings dataset has 10 unique ratings
The unique ratings are [0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0]

In [159]:
ratings = ratings.drop(columns='timestamp')

ratings.head()

   userId  movieId  rating
0       1       31     2.5
1       1     1029     3.0
2       1     1061     3.0
3       1     1129     2.0
4       1     1172     4.0

In [160]:
ratings.describe()

              userId        movieId         rating
count  100004.000000  100004.000000  100004.000000
mean      347.011310   12548.664363       3.543608
std       195.163838   26369.198969       1.058064
min         1.000000       1.000000       0.500000
25%       182.000000    1028.000000       3.000000
50%       367.000000    2406.500000       4.000000
75%       520.000000    5418.000000       4.000000
max       671.000000  163949.000000       5.000000

Merge Ratings and MoviesMetadata together

In [161]:
movie_rating_df = pd.merge(moviesMetadata, ratings, how = 'inner', left_on='id', right_on='movieId')

Read the data using the Surprise Library

In [164]:
reader = Reader(rating_scale=(1,5))
surprise_data = Dataset.load_from_df(movie_rating_df[['userId',
                                                      'id',
                                                      'rating']] , reader)

Modelling
- Train-Test set split
- Using SVD model

In [165]:
trainset , testset = train_test_split(surprise_data, test_size = 0.25)

In [166]:
# Testing on SVD
svd_model = SVD()
svd_model.fit(trainset)
predictions = svd_model.test(testset)

In [167]:
accuracy.rmse(predictions)

RMSE: 0.8957

0.8956997482999489

In [169]:
svd_model.predict(uid=1, iid=2455, verbose=True)

user: 1          item: 2455       r_ui = None   est = 3.15   {'was_impossible': False}

Prediction(uid=1, iid=2455, r_ui=None, est=3.145321479418584, details={'was_impossible': False})

In [170]:
svd_model.predict(uid=1, iid=1371, verbose=True)

user: 1          item: 1371       r_ui = None   est = 2.60   {'was_impossible': False}

Prediction(uid=1, iid=1371, r_ui=None, est=2.600049056733666, details={'was_impossible': False})

Tuning

In [171]:
param_grid = {'n_epochs': [5, 10, 20],
              'lr_all': [0.002, 0.005, 0.007]}

In [172]:
gs = GridSearchCV(SVD,
                  param_grid,
                  measures=['rmse', 'mae'],
                  cv=3,
                  n_jobs=-1,
                  joblib_verbose=True)

In [173]:
gs.fit(surprise_data)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  27 out of  27 | elapsed:    2.8s finished

In [174]:
print(gs.best_score['rmse'])
print(gs.best_params['rmse'])

0.9044416278944584
{'n_epochs': 20, 'lr_all': 0.005}

In [175]:
svd_model.n_epochs

20

Testing again

In [176]:
surprise_train_full_data = surprise_data.build_full_trainset()

In [177]:
svd_model.fit(surprise_train_full_data)

Recommendation Model
- Movies that users have not watched

In [178]:
def get_recommendation(movies_ratings,user_id,num):
    temp_dict={}

    movies_not_watched = movies_ratings["id"][~(movies_ratings["userId"] == user_id)].drop_duplicates().values.tolist()
    print(movies_not_watched)
    
    for movie in movies_not_watched:
        # Key: Movie ID, Value: Prediction
        temp_dict[movie] = svd_model.predict(uid=user_id, iid=movie)[3]
        
    suggestions = pd.DataFrame(temp_dict.items(),columns=["MovieId",'Predicted Rating']).sort_values(by="Predicted Rating", ascending=False).head(num)
    merged = pd.merge(suggestions, moviesMetadata[["id","title"]], how="left", left_on='MovieId', right_on="id")
    

    return merged

In [179]:
get_recommendation(movie_rating_df, 1 ,10).sort_values(by="title", ascending=False)

[949, 710, 1408, 524, 4584, 5, 8012, 451, 902, 63, 687, 577, 2054, 4482, 755, 880, 8447, 2086, 2045, 688, 103, 2074, 27793, 568, 414, 1873, 8839, 8963, 26564, 1572, 8973, 1642, 281, 3512, 26258, 76, 2292, 1909, 8984, 4954, 522, 1024, 628, 11, 3036, 8986, 1945, 241, 527, 6950, 101, 2307, 680, 110, 108, 2636, 2164, 278, 193, 95963, 1587, 2064, 236, 2759, 888, 13, 1689, 854, 2788, 8987, 8831, 315, 8011, 2654, 2758, 306, 178, 4722, 26391, 2124, 49299, 5503, 2087, 2019, 26271, 2259, 7984, 6, 329, 507, 1413, 2246, 2320, 5879, 2625, 788, 1245, 7007, 2088, 424, 8850, 695, 858, 867, 78, 319, 32562, 251, 280, 581, 80350, 268, 274, 408, 114, 7300, 275, 1592, 2021, 954, 8840, 5801, 896, 2300, 27768, 753, 8866, 922, 664, 532, 935, 7095, 627, 81949, 1645, 4837, 2925, 3573, 549, 238, 159, 3587, 981, 872, 2769, 164, 426, 567, 3078, 213, 239, 289, 963, 6620, 804, 909, 630, 599, 15, 62, 705, 223, 303, 4174, 381, 1859, 1939, 3598, 198, 220, 3529, 2897, 3083, 900, 260, 488, 261, 2033, 173, 864, 8367, 433, 562, 454, 1834, 252, 475, 521, 88, 500, 8491, 25842, 2119, 702, 25750, 1103, 4480, 49688, 762, 531, 4483, 659, 30892, 892, 1600, 409, 2469, 31225, 510, 1891, 2493, 85, 68, 679, 429, 389, 947, 185, 595, 28, 335, 1892, 144, 1092, 769, 348, 766, 175, 539, 240, 600, 279, 3109, 703, 1398, 387, 343, 490, 218, 696, 379, 207, 1480, 422, 829, 828, 3090, 3063, 694, 235, 832, 765, 137, 982, 105, 1633, 1554, 149, 8009, 903, 3034, 339, 914, 756, 288, 910, 2640, 665, 89, 783, 830, 2323, 639, 571, 8851, 6114, 229, 1598, 7340, 377, 653, 145, 2212, 199, 64900, 1573, 152, 174, 172, 154, 157, 168, 364, 621, 55687, 378, 2322, 3179, 4232, 2928, 2892, 8860, 31000, 4104, 784, 1968, 66, 638, 27322, 1624, 4477, 105763, 816, 2163, 18, 2058, 330, 33660, 1701, 26422, 1639, 415, 8874, 266, 754, 2142, 8854, 4961, 26180, 1669, 468, 2118, 2649, 2255, 782, 1959, 1281, 4995, 45928, 563, 2639, 489, 8197, 6283, 4233, 597, 714, 62394, 547, 184, 32302, 586, 6116, 2923, 2898, 6970, 617, 5910, 32456, 8838, 267, 6264, 4415, 8656, 929, 1878, 1965, 312, 846, 1389, 108548, 95, 944, 473, 544, 3116, 1051, 1366, 606, 746, 380, 466, 2108, 4488, 948, 41769, 609, 941, 942, 943, 927, 928, 19, 165, 196, 551, 346, 841, 242, 1411, 1779, 678, 907, 5961, 2887, 793, 97, 2107, 227, 87, 123, 2907, 4978, 805, 2182, 4011, 1580, 5854, 573, 2370, 5780, 506, 574, 845, 1978, 3682, 117, 4175, 940, 2762, 2761, 8208, 31930, 543, 431, 84116, 3525, 2321, 2028, 5971, 881, 4478, 2109, 8195, 1091, 162, 8916, 3121, 4975, 134368, 4437, 1955, 2657, 637, 8675, 73, 3033, 4518, 3600, 8336, 2042, 309, 692, 1678, 1680, 244, 8130, 707, 200, 1934, 8879, 1369, 1370, 1367, 1371, 1374, 1375, 1885, 5825, 1363, 2620, 8388, 6187, 8129, 2112, 1542, 26425, 2362, 1688, 1687, 100, 1641, 8583, 603, 4951, 8970, 1414, 6522, 1902, 1946, 1844, 6552, 3309, 564, 4927, 8785, 1924, 30793, 3103, 3035, 3077, 3074, 3076, 3079, 43391, 8974, 509, 1090, 2275, 104, 8487, 2767, 2105, 1073, 345, 620, 2978, 332, 1812, 8914, 4806, 247, 802, 3175, 147, 48660, 3934, 2115, 3526, 745, 913, 912, 813, 2280, 850, 2038, 1911, 2900, 6373, 2162, 4338, 43832, 14, 704, 1049, 2290, 6415, 5622, 861, 2457, 4929, 851, 3086, 535, 2731, 1654, 5689, 391, 550, 1610, 5548, 709, 253, 492, 8672, 8056, 2020, 1694, 476, 961, 957, 37853, 1621, 4203, 2039, 2690, 2668, 99, 25898, 26371, 596, 293, 2924, 177, 497, 1715, 334, 26578, 926, 1213, 632, 2990, 1883, 2005, 6279, 7305, 8872, 8873, 619, 1923, 4234, 1907, 2787, 2069, 901, 2155, 1831, 4816, 2193, 2067, 5693, 287, 968, 838, 3114, 820, 8989, 32031, 918, 2383, 1396, 1541, 1713, 996, 1498, 1497, 1499, 1880, 801, 2085, 3082, 2102, 990, 840, 26689, 2291, 526, 243, 6644, 879, 593, 2621, 2006, 1552, 1359, 4967, 27857, 3536, 889, 452, 5241, 98, 5608, 2094, 955, 8584, 962, 5483, 668, 691, 698, 499, 42002, 21, 6003, 541, 938, 2075, 26554, 169, 865, 8810, 1727, 635, 482, 592, 5121, 195, 6978, 3133, 479, 7450, 2123, 2024, 2133, 25993, 494, 493, 4247, 1050, 1788, 2655, 93, 2360, 8420, 3110, 26865, 1588, 1619, 786, 16, 469, 2160, 2161, 911, 1485, 1597, 6521, 2134, 71, 1636, 4327, 4958, 8870, 681, 8871, 146, 2669, 2609, 708, 107, 392, 8859, 3981, 711, 2046, 5001, 5994, 1493, 1900, 5955, 2613, 2018, 4639, 96, 764, 580, 318, 7093, 1921, 6073, 2749, 2302, 32686, 1888, 2428, 2453, 4587, 77, 2575, 55, 2043, 4133, 56715, 26791, 70282, 111, 2144, 1734, 4973, 849, 2981, 3784, 934, 808, 824, 1406, 1632, 966, 301, 4988, 6498, 5923, 1089, 759, 1995, 2140, 4248, 3134, 5991, 4789, 976, 2114, 8835, 58904, 5333, 4281, 2, 3980, 27397, 5680, 26386, 2617, 3543, 2605, 8337, 47493, 8463, 26603, 1648, 4105, 3064, 4925, 2210, 1380, 505, 4486, 4296, 331, 327, 869, 552, 2171, 6951, 2616, 7091, 249, 183, 2148, 2057, 1627, 2770, 1933, 1722, 2779, 2294, 742, 2176, 2034, 248, 1644, 166, 1623, 1018, 984, 2100, 3173, 167, 141, 585, 671, 1535, 1433, 1999, 269, 3537, 3604, 6974, 299, 161, 31682, 4886, 228, 194, 1903, 1649, 453, 5279, 1365, 6440, 6037, 98491, 26686, 848, 4965, 150, 112, 651, 2637, 2084, 51044, 4267, 4031, 2441, 931, 480, 614, 2752, 40723, 7219, 2135, 965, 44004, 26843, 8690, 3418, 4499, 425, 1391, 2371, 1791, 62956, 5678, 548, 1537, 441, 2565, 307, 1282, 52717, 5203, 2894, 45186, 5425, 245, 1894, 4012, 1957, 320, 27834, 39435, 1936, 4614, 7216, 2501, 4993, 103299, 180, 2022, 608, 59387, 2721, 8665, 818, 6404, 3780, 7451, 2750, 3640, 3127, 32825, 4108, 26680, 233, 5506, 575, 1958, 129, 72308, 2110, 1682, 4989, 1809, 1430, 40815, 1613, 565, 5917, 25773, 225, 5062, 265, 2264, 1672, 9012, 1941, 65, 542, 2165, 53000, 1377, 2528, 26325, 31921, 64, 2103, 7011, 2757, 7299, 4241, 171, 7303, 201, 2755, 121, 1429, 2642, 2149, 8392, 31804, 4561, 640, 590, 423, 262, 4912, 26393, 1484, 5968, 1647, 4628, 3028, 1563, 2262, 1956, 3426, 2984, 26172, 4952, 991, 4911, 102, 1591, 455, 2671, 2525, 51927, 6016, 7294, 2662, 994, 2832, 1816, 1555, 5146, 12, 2260, 1088, 47423, 6646, 26317, 290, 2470, 2263, 2527, 6643, 2071, 170, 216, 39231, 1927, 296, 302, 22, 554, 8961, 1996, 4464, 4984, 8273, 8094, 78041, 833, 3101, 6466, 2055, 2771, 48791, 3055, 26198, 936, 4593, 2891, 38304, 513, 333, 2722, 1415, 1428, 153, 4703, 2687, 277, 61401, 321, 20, 5168, 837, 1358, 2200, 891, 650, 4543, 6723, 26850, 3087, 2116, 1584, 2056, 322, 24, 1550, 1807, 1376, 2348, 3117, 897, 224, 43708, 605, 1277, 1836, 508, 4970, 470, 1702, 4823, 5000, 780, 234, 899, 5227, 8010, 2297, 951, 5765, 1643, 2007, 2612, 3112, 2611, 3176, 2047, 1626, 483, 3681, 898, 2000, 648, 4024, 3089, 1594, 916, 1976, 31685, 3062, 79, 987, 81, 42740, 4368, 3596, 120637, 255, 616, 587, 6964, 1792, 3635, 122, 47952, 504, 2289, 42418, 31026, 5966, 1937, 26712, 1882, 427, 3022, 778, 3088, 980, 5205, 2017, 405, 5055, 27329, 1954, 1278, 7008, 1824, 337, 43376, 2099, 6470, 615, 338, 2023, 1586, 156, 924, 38, 5516, 553, 1487, 2122, 923, 2587, 3591, 26176, 68347, 2098, 393, 237, 7131, 42015, 132, 4339, 5247, 502, 1373, 667, 700, 44864, 633, 294, 1162, 988, 204, 5248, 2786, 26133, 2817, 1394, 1719, 781, 3777, 1926, 4923, 465, 876, 1583, 31952, 336, 5927, 3075, 5521, 222, 1059, 3547, 5481, 7090, 42632, 5902, 4552, 26326, 42725, 4291, 113, 3001, 62383, 203, 26268, 316, 3072, 250, 43267, 42013, 631, 48385, 439, 2546, 5165, 5544, 42728, 5071, 1994, 870, 809, 435, 673, 246, 2789, 8920, 26886, 46976, 831, 662, 8341, 886, 3019, 3515, 594, 8981, 1944, 1997, 2330, 2334, 2912, 2202, 3484, 1777, 558, 80, 8699, 2048, 436, 2502, 314, 1040, 5122, 1783, 31522, 5179, 4201, 69526, 6947, 401, 2577, 60760, 8745, 32298, 124, 5137, 2003, 1653, 747, 27816, 27815, 8689, 1599, 4380, 3989, 2438, 3053, 1970, 4553, 176, 5255, 866, 4251, 2059, 140, 1966, 2288, 163, 25952, 3016, 2972, 992, 3060, 1405, 964, 939, 697, 905, 3061, 626, 27899, 5729, 3574, 875, 779, 3031, 43904, 55207, 26701, 3766, 946, 4558, 800, 3111, 803, 31374, 56156, 34528, 31427, 690, 750, 34530, 3010, 4025, 3763, 7348, 2661, 2097, 135, 4191, 5638, 1846, 2860, 26606, 2998, 839, 40732, 760, 1410, 5558, 3043, 8327, 5618, 1835, 3870, 1660, 6476, 26842, 5651, 6341, 7012, 232, 30707, 1884, 33138, 26555, 4043, 49314, 4271, 2927, 31923, 1483, 4539, 31696, 5048, 47714, 5051, 5187, 8983, 2460, 8765, 5470, 1283, 7096, 344, 2487, 3716, 5458, 844, 2463, 52666, 467, 2899, 3577, 2440, 41714, 919, 211, 2191, 437, 4592, 2111, 4612, 4326, 3177, 4972, 2841, 363, 4254, 670, 1913, 2539, 5528, 1114, 179, 83, 4836, 3396, 1404, 464, 1126, 1392, 291, 5460, 4896, 3509, 986, 70, 205, 118, 1280, 421, 2567, 1901, 842, 79008, 34326, 59143, 2091, 8422, 26581, 342, 613, 273, 8968, 6961, 2517, 661, 2436, 42011, 7454, 41569, 561, 8340, 6414, 1942, 3040, 2926, 4710, 4974, 258, 8016, 4235, 26, 2026, 3115, 6593, 1918, 1093, 438, 1589, 540, 32078, 158, 1772, 187, 2029, 49225, 3875, 74948, 775, 69069, 7453, 6183, 1495, 1640, 26614, 26810, 1566, 37720, 1279, 1895, 27, 953, 921, 787, 3011, 272, 2287, 1382, 276, 2151, 26323, 2095, 74, 4889, 1667, 1826, 36401, 1635, 1696, 1665, 5237, 308, 5319, 1444, 501, 6957, 1917, 445, 4442, 1985, 7182, 340, 1546, 51277, 1676, 8814, 3118, 2125, 1947, 49220, 8643, 3933, 8923, 59, 257, 647, 349, 533, 5236, 5471, 3527, 26513, 2610, 41566, 6963, 215, 2313, 5335, 3554, 1951, 25763, 259, 25, 5620, 231, 8999, 674, 69, 1833, 1420, 9005, 7010, 2153, 116, 254, 1904, 2008, 917, 84847, 8290, 612, 546, 2800, 4495, 43899, 6935, 4550, 6934, 1690, 834, 26782, 4772, 2455, 2117, 1969, 97936, 17, 45726, 30712, 292, 77291, 1544, 2207, 6877, 950, 4173, 1967, 388, 25874, 1379, 582, 52885, 186, 8410, 219, 3093, 460, 8998, 4441, 84954, 2652, 1629, 5820, 588, 8982, 956, 1416, 920, 26116, 806, 2044, 350, 58, 1819, 2295, 4474, 1887, 1841, 1611, 410, 4375, 8008, 7872, 1164, 71282, 43838, 326, 512, 1593, 1852, 1262, 82, 1986, 2805, 1948, 148, 1023, 2168, 1165, 64499, 271, 5072, 2566, 1249, 1963, 1381, 300, 390, 1595, 1717, 2753, 496, 1417, 4643, 7484, 1422, 8332, 3593, 1975, 39183, 86, 1440, 1523, 1378, 1124, 3683, 8194, 6077, 214, 1123, 1427, 4928, 2152, 2357, 1581, 313, 2447, 1372, 54910, 2486, 1246, 40574, 46948, 1247, 1125, 1646, 1730, 8618, 1259, 1251, 1931, 8275, 2433, 2204, 3549, 6166, 46919, 1265, 1257, 1248, 1252, 2062, 2266, 5172, 2016, 3024, 47200, 1250, 4169, 3594, 26655, 42721, 27523, 4638, 1993, 5691, 1253, 1949, 8965, 1271, 2267, 1255, 2977, 5413, 2355, 1273, 8199, 5177, 1683, 1267, 1272, 1590, 1407, 1441, 1987, 1268, 559, 1950, 4977, 27904, 2269, 1919, 4964, 2976, 1562, 810, 5723, 285, 3432, 3489, 2241, 1990, 1979, 1991, 2748, 2359, 442, 43836, 1988, 3021, 1571, 2959, 6022, 1858, 3563, 4688, 81847, 32444, 757, 35, 5857, 3638, 4516, 59995, 1721, 8363, 4658, 5956, 6535, 1127, 1393, 2701, 4349, 2082, 1845, 6609, 2335, 4351, 2882, 1992, 4141, 4347, 523, 2009, 3469, 4629, 5353, 2252, 6641, 5915, 2728, 7211, 4538, 2001, 4566, 4520, 6615, 5125, 3877, 8954, 4771, 1922, 2011, 33688, 90374, 2014, 663, 48301, 2015, 7347, 5718, 25755, 2013, 6977, 4515, 5375, 2310, 2284, 6639, 4723, 5876, 4523, 1620, 2268, 6477, 3902, 6537, 1874, 1989, 7979, 6538, 440, 1488, 4787, 33358, 2312, 3575, 4034, 1479, 2282, 55294, 7942, 6473, 7840, 8848, 2239, 7343, 3764, 33166, 383, 155, 36527, 511, 8093, 25904, 8988, 7944, 8267, 1266, 8827, 7459, 1729, 1810, 8617, 1726, 2454, 217, 4564, 4857, 3687, 2982, 8645, 1938, 26302, 78321, 31658, 43869, 42718, 428, 9010, 2002, 32666, 8836, 70846, 4140, 1735, 5038, 1661, 2012, 43177, 3865, 25795, 3, 8908, 4998, 3041, 47721, 1984, 50011, 8882, 3097, 4960, 2397, 8338, 3580, 4701, 8938, 4627, 8892, 111759, 3520, 8966, 2574, 1964, 8880, 25852, 3054, 5816, 2694, 2253, 6936, 4148, 8927, 53519, 317, 1977, 85394, 4832, 5677, 1961, 434, 8832, 7916, 5334, 52528, 62437, 43396, 3632, 1940, 1387, 8833, 112582, 2080, 6461, 42738, 534, 2049, 101362, 81512, 761, 8933, 4498, 8373, 4990, 8884, 767, 3478, 8937, 685, 8899, 26320, 2861, 5060, 2979, 3511, 25900, 26009, 885, 33380, 4734, 1686, 3513, 8915, 54419, 2973, 54648, 836, 84772, 4475, 2261, 6058, 7445, 94466, 1284, 7980, 2143, 26171, 347, 45987, 55261, 47122, 128846, 25769, 4932, 26125, 5707, 1450, 46335, 65642, 2395, 5153, 31156, 2974, 43333, 4887, 60086, 6883, 25941, 26430, 4933, 4252, 34583, 26178, 1912, 37857, 42191, 4180, 1549, 26694, 8929, 7346, 5850, 26587, 80844, 1785, 25868, 40819, 4676, 3037, 2363, 1896, 27022, 32395, 72356, 26350, 91470, 1920, 39768, 1863, 5899, 39414, 3476, 8070, 1914, 91873, 30846, 50641, 31549, 55063, 110748, 94959, 2754, 27441, 4706, 75341, 4921, 6793, 35957, 3007, 1673, 134569, 26663, 80572, 32234, 5562, 43919, 43930, 8464, 481, 4266, 31104, 1361, 51357, 31694, 6474, 7210, 2325, 4798, 1543, 8951, 47610, 1244, 43936, 31903, 471, 47330, 71732, 4704, 37380, 58376, 31162, 2010, 3397, 48596, 31408, 54001, 3081, 4880, 48414, 3581, 44555, 43908, 8931, 55721, 47518, 1865, 3107, 3962, 70862, 114044, 51540, 49013, 1482, 55895, 4641, 1771, 74946, 85367, 46772, 26242, 8462, 54220, 47261, 59392, 40959, 36519, 407, 30867, 80241, 5473, 48231, 95949, 114060, 91094, 33592, 31116, 6182, 75803, 49530, 3966, 92751, 37736, 47099, 4195, 4809, 64983, 1254, 56801, 2349, 77866, 112655, 57353, 8368, 25774, 57243, 71254, 3051, 59421, 55245, 2929, 62764, 73211, 61361, 73881, 27646, 77561, 50601, 52462, 3556, 26974, 5965, 86593, 122924, 85414, 8266, 126420, 104241, 79224, 1556, 49526, 71668, 90061, 40629, 67429, 26505, 98369, 4822, 52767, 5422, 537, 39779, 45000, 95508, 72479, 6078, 74545, 132961, 94480, 26152, 96821, 63481, 80717, 160, 84187, 89492, 99106, 100450, 4171, 26467, 92681, 90603, 26005, 41863, 36931, 55167, 70121, 88812, 158238, 46972, 54328, 5686, 26547, 3146, 3052, 44671, 85510, 2966, 103731, 26693, 31700, 127728, 8768, 458, 2077, 32596, 40226, 6636, 31221, 58293, 5646, 47404, 26622, 91690, 48319, 40833, 54768, 71700, 2093, 26251, 4479, 8935, 115210, 3160, 56949, 4519, 91325, 53318, 93498, 4146, 4578, 3030, 31035, 42732, 2072, 86817, 26131, 107978, 8985, 54272, 54276, 69278, 5995, 69406, 84152, 4949, 140174, 2442, 69746, 2180, 59118, 26947, 104211, 2594, 31445, 33817, 121113, 4111, 1732, 49396, 95752, 48591, 94478, 54281, 1840, 56171, 5421, 1731, 26480, 85788, 79553, 7983, 4992, 189, 44022, 39398, 2692, 3171, 26750, 2195, 8948, 69559, 1285, 83613, 26111, 256, 3937, 84944, 3576, 55069, 25752, 25753, 4956, 2089, 112735, 2516, 42734, 128606, 56152, 142507, 33838, 69784, 84154, 2139, 47491, 26366, 2699, 52913, 70984, 116977, 43635, 130452, 26700, 27317, 3057, 93855, 51939, 31270, 4226, 5139, 3483, 46967, 68659, 109161, 111443, 4344, 3539, 73290, 55872, 32582, 3686, 107999, 133365, 57326, 7085, 32139, 42783, 86059, 84312, 4529, 90376, 4968, 27376, 32387, 45662, 53953, 26631, 2648, 1163, 5147, 1260, 4930, 69495, 27544, 129009, 26838, 8372, 25807, 91548, 5002, 93061, 112460, 6163, 44974, 5601, 58655, 48522, 27850, 2186, 52458, 45221, 41571, 8779, 49957, 4885, 1870, 1875, 92, 3168, 3480, 5063, 3423, 80346, 27873, 44191, 83132, 110553, 6591, 8014, 37727, 37731, 8743, 86835, 8906, 2141, 5602, 3004, 100032, 31547, 95744, 69974, 92309, 4274, 2993, 6547, 27706, 45179, 85025, 43871, 5065, 101904, 97593, 83361, 8371, 31413, 1269, 1419, 5833, 1615, 1616, 2169, 91628, 53435, 2189, 46578, 40817, 30723, 90888, 105246, 26574, 88744, 45679, 32029, 54732, 50794, 59810, 31524, 3701, 3699, 58301, 102165, 5061, 5056, 43351, 27922, 3122, 45210, 33124, 58191, 2197, 2462, 43419, 74458, 89072, 5302, 32728, 44694, 44511, 5064, 56095, 54503, 81831, 5839, 26342, 92496, 37211, 3405, 74510, 26809, 60293, 92424, 4645, 25764, 39408, 3125, 82667, 5742, 5747, 26599, 131830, 53121, 87884, 56339, 89870, 2166, 34334, 3602, 54734, 31150, 36529, 45431, 86000, 97938, 8460, 33558, 148652, 4255, 106417, 86332, 80219, 160718, 27338, 103688, 31410, 8930, 50162, 81229, 53129, 4705, 2988, 27351, 59429, 107406, 27255, 48856, 70418, 6945, 93840, 5900, 27724, 72720, 95375, 2798, 83827, 63276, 2004, 2333, 1539, 49961, 58432, 81660, 2232, 459, 457, 6318, 58156, 45722, 3145, 89774, 2969, 40826, 103210, 32160, 25744, 55765, 44245, 121491, 206, 26010, 5846, 3936, 2079, 2078, 51935, 3578, 59333, 798, 2734, 5881, 4893, 107081, 31973, 74944, 27875, 54256, 98122, 103048, 88950, 81782, 3565, 50189, 4728, 4727, 64032, 134881, 27721, 84844, 4228, 67087, 39446, 3013, 31770, 64508, 78101, 6884, 26736, 103502, 26702, 79720, 26199, 68444, 66066, 4459, 3025, 4709, 57845, 3692, 1998, 25801, 27674, 31364, 108949, 4979, 1837, 104374, 105254, 74727, 103539, 100017, 2890, 65216, 4680, 2764, 3048, 65188, 4443, 30810, 799, 50658, 50583, 5256, 105593, 89337, 135536, 53883, 78088, 2989, 3938, 58559, 31184, 3102, 3941, 1652, 1655, 99846, 53999, 7456, 31502, 59126, 30, 5066, 3786, 63876, 110501, 48268, 51091, 38061, 4290, 64116, 4546, 3698, 5434, 112767, 61123, 4948, 40946, 89904, 4279, 86320, 61348, 63859, 79163, 8893, 2324, 33495, 58365, 67255, 3479, 55156, 81537, 72733, 1609, 72701, 64501, 105121, 26776, 3144, 4462, 932, 6103, 3159, 78174, 115877, 1608, 100272, 130450, 59935, 66659, 107412, 4652, 7088, 55253, 109074, 134158, 38499, 4369, 26797, 2459, 6105, 1848, 1596, 3427, 6107, 26509, 65310, 1631, 7234, 48780, 104863, 58306, 25771, 72386, 71520, 74154, 114464, 118900, 130980, 3003, 4644, 2132, 111913, 8128, 62999, 68954, 3210, 2104, 6436, 74580, 64278, 86190, 2791, 8366, 2154, 8453, 84601, 127098, 5040, 63540, 2286, 63179, 26147, 3178, 2331, 91673, 80831, 3104, 64197, 98604, 49280]

   MovieId  Predicted Rating    id                               title
4     2064          4.029075  2064             While You Were Sleeping
5     4973          4.010961  4973                      Under the Sand
7     4235          3.967415  4235                   The Sicilian Clan
1      318          4.189038   318            The Million Dollar Hotel
9     6016          3.940027  6016                      The Good Thief
2      296          4.082626   296  Terminator 3: Rise of the Machines
0      858          4.216224   858                Sleepless in Seattle
3     1254          4.067524  1254               Don't Worry, I'm Fine
8      923          3.952891   923                    Dawn of the Dead
6      898          3.977244   898                 Birdman of Alcatraz

In [180]:
user1 = movie_rating_df[movie_rating_df["userId"] == 1]

In [181]:
user1[['userId', 'id', 'rating']]

       userId    id  rating
10561       1  1371     2.5
11376       1  2105     4.0
13727       1  2193     2.0
18245       1  2294     2.0
27973       1  1405     1.0
31731       1  2455     2.5

HALLLTTTT extra stuff

Using iteration to test multiple algorithms to test which gives the best result
- SVD
- KNNBasic
- NMF
- SlopeOne
- CoClustering
- BaselineOnly

In [182]:
algorithms = [SVD(), KNNBasic(), NMF(), SlopeOne(), CoClustering(), BaselineOnly()]

In [183]:
def algo_test(train, test, algos):
    # To store the Root-Mean-Square deviation (RMSE) values
    list1 = []
    # To store the Mean Absolute Error (MAE) values
    list2 = []

    for algo in algos:
        algo.fit(train)
        preds = algo.test(test)

        # Metrics to determine accuracy of test
        rmse = accuracy.rmse(preds)
        mae = accuracy.mae(preds)

        # Append to the respective lists
        list1.append(rmse)
        list2.append(mae)
    return list1, list2

In [184]:
rmse_vals = []
mae_vals = []

rmse_vals, mae_vals = algo_test(trainset, testset, algorithms)

RMSE: 0.8949
MAE:  0.6897
Computing the msd similarity matrix...
Done computing similarity matrix.
RMSE: 0.9602
MAE:  0.7425
RMSE: 0.9425
MAE:  0.7227
RMSE: 0.9196
MAE:  0.7033
RMSE: 0.9540
MAE:  0.7405
Estimating biases using als...
RMSE: 0.8934
MAE:  0.6913

In [185]:
combined_acc = [(rmse + mae) / 2 for rmse, mae in zip(rmse_vals, mae_vals)]
best_algo_index = combined_acc.index(min(combined_acc))
best_algo_name = algorithms[best_algo_index].__class__.__name__
print(f"Best Algorithm: {best_algo_name}")
print(f"RMSE: {rmse_vals[best_algo_index]}")
print(f"MAE: {mae_vals[best_algo_index]}")
print(f"Combined Score: {combined_acc[best_algo_index]}")

Best Algorithm: SVD
RMSE: 0.8948956449791934
MAE: 0.6896848898604119
Combined Score: 0.7922902674198027

In [186]:
svd = SVD()
data_train = data.build_full_trainset()
svd.fit(data_train)
predictions = svd.test(test_set)

Model Tuning

In [187]:
param_grid = {'n_epochs': [5, 10, 20],
              'lr_all': [0.002, 0.005, 0.007]}

In [188]:
grid_search = GridSearchCV(SVD,
                  param_grid,
                  measures=['rmse', 'mae'],
                  cv=3,
                  n_jobs=-1,
                  joblib_verbose=True)

In [189]:
grid_search.fit(data)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  27 out of  27 | elapsed:    3.4s finished

In [190]:
best_rmse = grid_search.best_score['rmse']
best_params = grid_search.best_params['rmse']
print(f"The best RMSE score is: {best_rmse}")
print(f"The best RMSE params are: {best_params}")

The best RMSE score is: 0.9043080384501797
The best RMSE params are: {'n_epochs': 20, 'lr_all': 0.005}

In [191]:
svd.n_epochs

20

In [192]:
svd_model = SVD(**grid_search.best_params['rmse'])

In [193]:
data = data.build_full_trainset()

In [194]:
svd_model.fit(data_train)

In [195]:
svd_model.predict(uid=229, iid=16, verbose=True)

user: 229        item: 16         r_ui = None   est = 4.19   {'was_impossible': False}

Prediction(uid=229, iid=16, r_ui=None, est=4.192688656258422, details={'was_impossible': False})

In [196]:
def suggest(df,user_id,sug):
    
    didnt_watch = df["id"][~(df["userId"] == user_id)].drop_duplicates().values.tolist()
    temp_dict={}
    
    for i in didnt_watch:
        temp_dict[i] = svd_model.predict(uid=user_id, iid=i)[3]
        
    suggestions = pd.DataFrame(temp_dict.items(),columns=["id",'possible_rate']).sort_values(by="possible_rate", ascending=False).head(sug)
    merged = pd.merge(suggestions, moviesMetadata[["id","title"]], how="inner", on="id")
    
    return merged

In [197]:
moviesMetadata = moviesMetadata.drop([19730, 29503, 35587])
moviesMetadata['id'] = moviesMetadata['id'].astype('int')
movie_rating_df = pd.merge(moviesMetadata, ratings, how = 'inner', left_on='id', right_on='movieId')

KeyError: '[19730, 29503, 35587] not found in axis'

In [ ]:
suggest(movie_rating_df,21,15).sort_values(by="possible_rate", ascending=False)

      id  possible_rate                     title
0    318       4.264566  The Million Dollar Hotel
1   3683       4.179653      Flags of Our Fathers
2   1254       4.169540     Don't Worry, I'm Fine
3    953       4.157904                Madagascar
4   2064       4.141353   While You Were Sleeping
5   5618       4.138989           Cousin, Cousine
6   3022       4.132988   Dr. Jekyll and Mr. Hyde
7    926       4.130558              Galaxy Quest
8   1945       4.127052                      Nell
9   2973       4.124470     Aelita: Queen of Mars
10  6016       4.124050            The Good Thief
11  1262       4.122729     Stranger Than Fiction
12   922       4.111172                  Dead Man
13   912       4.099721   The Thomas Crown Affair
14   307       4.093931           Rome, Open City